h1 {
    text-align: center;
color:rgb(48, 0, 125);
font-family:helvetica;
}
h2 {
    text-align: center;}
    h3 {
        text-align: center;
        color: rgb(0, 7, 142);
        font-family: Arial;
        font-size: medium;
    }
    h4 {text-align: center;}
h5 {text-align: center;
    color: rgb(0, 7, 142);
    font-family: Arial;
    font-size: medium;}